header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.3em;
  padding: 0 0.8em;
  position: fixed;
  top: 0;
  z-index: 1;
}
header figure {
  width: 20%;
  height: 100%;
  max-width: 100px;
  max-height: 90px;
  margin: 0;
}
header figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
}
header nav li {
  margin-right: 1em;
  font-weight: 100;
}
header nav li.active {
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: solid 2px #EB5757;
}
header nav li:hover a {
  color: #EB5757;
}
header nav li a {
  text-decoration: none;
  color: #000000;
}

main > section {
  padding: 2em 3em 0;
}
main > section .section-title {
  display: flex;
  height: 20%;
  max-height: 100px;
  align-items: center;
  margin-bottom: 1em;
}
main > section .section-title .icon-holder {
  height: 100%;
  max-width: 60px;
  font-size: 2.5em;
  line-height: 100%;
  margin-right: 0.2em;
  display: flex;
  align-items: center;
}
main > section .section-title .title h2 {
  margin: 2px 0;
}
main > section .sub-cont {
  padding: 0 1.5em;
}

.sub-heading {
  display: flex;
  align-items: center;
  font-size: 1em;
  margin-bottom: 1.5em;
  color: #333333;
}
.sub-heading .icon-cont {
  margin-right: 10px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}
.sub-heading h4 {
  margin: 3px 0;
}

.card-container.flex {
  display: flex;
}
.card-container.flex .card {
  width: 50%;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0 1.5em;
}
.card-container.flex .card ol, .card-container.flex .card p {
  font-size: 0.8em;
  text-align: justify;
  font-weight: 400;
}
.card-container.flex .card ol li, .card-container.flex .card p li {
  margin-bottom: 0.8em;
}

.card-cont.grid {
  min-height: 350px;
  max-height: 350px;
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  overflow-x: auto;
  padding: 1em 0.8em;
  margin-bottom: 20px;
}
.card-cont.grid .card {
  max-width: 300px;
  min-width: 300px;
  min-height: 300px;
  max-height: 300px;
  transition: 0.3s ease;
  padding: 0.5em 0.8em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.card-cont.grid .card figure {
  width: 100%;
  height: calc(300px * 0.8);
  min-height: 250px;
  max-height: 250px;
  margin: 0 0 10px;
}
.card-cont.grid .card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-cont.grid .card .title {
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin: 5px 0 0;
  flex-shrink: 0;
}
.card-cont.grid .card .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-cont.grid .card .time-stamp {
  font-size: 0.6em;
  margin: 5px 0 0;
  flex-shrink: 0;
}
.card-cont.grid .card:hover {
  box-shadow: 0 0 10px #219653;
}

.ministered .info {
  display: block;
}

.card-cont.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  padding: 1em 2em;
  overflow-x: auto;
}
.card-cont.flex .card {
  min-height: 130px;
  max-height: 180px;
  width: 30%;
  max-width: 150px;
  filter: grayscale(0.9);
  transition: 0.4s ease-in-out;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  flex: 1 0 30%;
  margin-right: 0.8em;
}
.card-cont.flex .card:hover {
  filter: none;
}
.card-cont.flex .card .church-logo-holder {
  width: 100%;
  height: 130px;
  max-height: 130px;
  margin: 0;
  flex: 1 0 100%;
}
.card-cont.flex .card .church-logo-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-cont.flex .card .info {
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  color: #219653;
}
.card-cont.flex .card .info .title {
  margin-bottom: 0;
}

.cta {
  margin: 1em 0 0;
  padding: 2em;
  text-align: center;
}
.cta .text {
  color: #333333;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 1.5em;
  line-height: 1.5em;
  font-size: 0.9em;
}
.cta .btn {
  text-decoration: none;
  color: #ffffff;
  background: #219653;
  padding: 0.9em 2em;
  font-size: 0.9em;
  transition: 0.5s ease-in-out;
}
.cta .btn:hover {
  background: #ffffff;
  color: #219653;
  border: solid 1px #219653;
}

footer {
  display: flex;
  justify-content: space-between;
  background: #333333;
  padding: 2em;
  color: #ffffff;
  font-weight: 400;
  position: fixed;
  bottom: 0;
  z-index: -1;
  width: 100vw;
}
footer .left {
  width: 32%;
}
footer .left .text {
  line-height: 1.5em;
}
footer .left .light {
  font-weight: 300;
  font-size: 0.8em;
}
footer .left .socials {
  display: flex;
}
footer .left .socials .icon-holder {
  margin-right: 1em;
  text-decoration: none;
  color: #ffffff;
}
footer .contact {
  list-style-type: none;
}
footer .contact h4 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.8em;
  border-bottom: solid 1px #828282;
  padding-bottom: 0.09em;
}
footer .contact li {
  padding: 0.2em;
}
footer .links {
  list-style-type: none;
}
footer .links a {
  text-decoration: none;
  color: inherit;
}
footer .links li {
  margin-bottom: 0.2em;
  color: #ffffff;
}
footer .links li.active {
  font-weight: 300;
  color: #828282 !important;
}
footer .links li:hover a {
  color: #EB9A57;
}

*.card-cont::-webkit-scrollbar {
  width: 0.6em;
}

*.card-cont::-webkit-scrollbar-track {
  background: #ffffff;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

*.card-cont::-webkit-scrollbar-button {
  display: none;
}

*.card-cont::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #8282824f;
}

div.border {
  width: 80px;
  height: 2px;
  background: #219653;
}

.blue {
  color: #1E7E7E;
}

.red {
  color: #EB5757;
}

.gray {
  color: #333333;
}

.orange {
  color: #D37B32;
}

.green {
  color: #28A928;
}

.no-shadow {
  box-shadow: none !important;
}

.intro {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  transition: 1s ease-in-out;
  left: 0;
}
.intro.hide {
  left: 110vw;
}
.intro .cont {
  width: 70%;
  height: 70%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .logo {
  width: 30%;
  height: 50%;
  max-height: 500px;
}
.intro .logo img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.intro .circle-1, .intro .circle-2 {
  position: absolute;
  border-radius: 50%;
  z-index: -10;
  border: solid #828282;
}
.intro .circle-1 {
  animation: circle 2s infinite ease-out;
}
.intro .circle-2 {
  animation: circle 2s 1s infinite ease-out;
}

@keyframes circle {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 40%;
    height: 60%;
  }
}
.body {
  transition: 1s ease-in-out;
  position: relative;
}
.body.hide {
  left: -110vw;
}
.body.show {
  display: block;
  left: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.bible-motto {
  width: 100%;
  height: 50vh;
  max-height: 400px;
  background: #828282;
  padding: 0 20%;
  position: relative;
  margin-top: 5em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.bible-motto q {
  width: 100%;
  font-size: 1.5em;
  color: #ffffff;
  text-align: right;
  position: relative;
}
.bible-motto q:before {
  content: ' " ';
  color: #EB5757;
  font-size: 5em;
  position: absolute;
  left: -0.33em;
  top: -0.4em;
}
.bible-motto p {
  align-self: flex-end;
  font-style: italic;
  margin-top: 0.3em;
  color: #ffffff;
}
.bible-motto .svg-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100px;
  overflow: hidden;
}
.bible-motto .svg-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  margin-bottom: 40vh;
  background: #ffffff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }

  .card-container.flex {
    display: block;
  }
  .card-container.flex .card {
    width: 100%;
  }
}

/*# sourceMappingURL=layout.css.map */
