div.border {
    width: 80px;
    height: 2px;
    background: $green;
}   

.blue {
    color: $blue;
} 

.red {
    color: $red-border; 
}

.gray {
    color: $sec-font;
}  

.orange {
    color: $orange;
}

.green {
    color: $green-font;
}
 
.no-shadow {
    box-shadow: none !important;
} 