// colours
$red-border: #EB5757;
$gray-bg: #828282;
$white: #ffffff;
$primary-font: #000000;
$green: #219653;
$blue: #1E7E7E;
$sec-font: #333333;
$orange: #D37B32;
$green-font: #28A928;



// effects
$shadow :rgba(0, 0, 0, 0.25);