// colours
$red-border: #EB5757;
$gray-bg: #828282;
$gray-bg-sec: #8282824f;
$white: #ffffff;
$primary-font: #000000;
$sec-font: #333333;
$green: #219653;
$green-font: #28A928;
$blue: #1E7E7E;
$orange: #D37B32;
$light-orange: #EB9A57;




// effects
$shadow :rgba(0, 0, 0, 0.25);
$modal-bg: rgba(0,0,0, 0.9);